.font {
    font-family: poppins, sans-serif;
    font-weight: 500;
}

/*start add user css--------------------------------------------------------------------------------------------------*/
.header-div {
    height: 65px;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #3867d6;
}

.btn-bg {
    background-color: #3867d6;
    color: white;
    margin: 10px;
}

.btn-bg:hover {
    color: white;
}

.table-bg {
    background-color: #3867d6;
}

.form-div {
    margin-top: 20px;
}

.form {
    width: 100%;
    height: 100%;
}

/*end add user css----------------------------------------------------------------------------------------------------*/

/*start index css ----------------------------------------------------------------------------------------------------*/
.display-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.welcome-body {
    font-family: Roboto, sans-serif;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #ffffff;
}

.content-div {
    display: flex;
    width: 50%;
    height: 50%;
}

.wc-button {
    margin: 10px;
    width: 50%;
    height: 12%;
    text-decoration: none;
    background-color: rgba(231, 0, 0, 0);
}

.wc-btn {
    border: transparent;
    width: 70%;
    height: 100%;
    border-radius: 25px;
    font-family: Roboto, sans-serif;
    background-color: white;
    font-weight: bold;
}

.color-1 {
    border: 2px solid #3867d6;
    color: #3867d6;
}

.color-2 {
    border: 2px solid #05c46b;
    color: #05c46b;
}


.color-1:hover {
    cursor: pointer;
    background-color: #3867d6;
    color: #ffffff;
}

.color-2:hover {
    cursor: pointer;
    background-color: #05c46b;
    color: #ffffff;
}

/*end index css ------------------------------------------------------------------------------------------------------*/

/*start loan css -----------------------------------------------------------------------------------------------------*/
.loan-body {
    width: 100vw;
    height: 100vh;
    /*background-color: black;*/
}

.header-div-loan {
    width: 100%;
    height: 8%;
    background-color: #05c46b;
}

.title-loan {
    color: #ffffff;
}

.content-area {
    width: 100%;
    height: 92%;
    flex-direction: row;
}

.left-content {
    width: 50%;
    height: 100%;
}

.small-content-1 {
    width: 100%;
    height: 45%;
}

.loan-form-1-title {
    width: 99%;
    height: 13%;
    background-color: #05c46b;
    color: white;
    border: 2px solid white;
    border-radius: 20px;
}

.loan-form-1-body {
    width: 100%;
    height: 85%;
    display: flex;
    flex-direction: column;
}

.loan-form {
    width: 100%;
    height: 100%;
}

.button-div {
    flex-direction: row;
}

.loan-btn {
    width: 50%;
    height: 35px;
    margin: 5px;
    border-radius: 25px;
    border: 2px solid #05c46b;
    color: #05c46b;
    font-family: Poppins, sans-serif;
}

.loan-btn:hover {
    cursor: pointer;
    background-color: #05c46b;
    color: #ffffff;
}


.small-content-2 {
    width: 100%;
    height: 55%;
}

.loan-form-2-title {
    width: 99%;
    height: 11%;
    background-color: #05c46b;
    color: white;
    border: 2px solid white;
    border-radius: 20px;
}

.loan-form-2-body {
    width: 99%;
    height: 70%;
    display: flex;
    flex-direction: row;
}

.loan-form-2-left {
    width: 50%;
    height: 80%;
}

.loan-form-2-right {
    width: 50%;
    height: 80%;
}

.loan-btn-1 {
    width: 100%;
    height: 35px;
    margin: 5px;
    border-radius: 25px;
    border: 2px solid #05c46b;
    color: #05c46b;
    font-family: Poppins, sans-serif;
}

.loan-btn-1:hover {
    cursor: pointer;
    background-color: #05c46b;
    color: #ffffff;
}

.user-ok-div {
    width: 100%;
    height: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ok-form {
    width: 100%;
    height: 100%;
}

.btn-user-ok {
    width: 40%;
    height: 35px;
    margin: -10px 5px 5px 5px;
    border-radius: 25px;
    border: 2px solid #05c46b;
    color: #05c46b;
    font-family: Poppins, sans-serif;
}

.btn-user-ok:hover {
    cursor: pointer;
    background-color: #05c46b;
    color: #ffffff;
}


/*right side css -------------------------------------------------------------------*/
.right-content {
    width: 50%;
    height: 100%;
}

.loan-form-3-title {
    width: 99%;
    height: 5.7%;
    margin-top: 4px;
    background-color: #05c46b;
    color: white;
    border: 2px solid white;
    border-radius: 20px;
}

.loan-form-3-body {
    width: 100%;
    height: 93%;
}

.loan-form-3-details-1 {
    width: 90%;
    height: 11%;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.loan-form-3-details-2 {
    width: 90%;
    height: 10%;
    display: flex;
    align-items: center;
}

.now-loan-div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-loan-amount {
    width: 30%;
    height: 35px;
    color: #05c46b;
    border-radius: 20px;
    border: 2px solid #05c46b;
    font-family: Poppins, sans-serif;
}

.btn-loan-amount:hover {
    cursor: pointer;
    background-color: #05c46b;
    color: #ffffff;
}

.loan-form-3-details-3 {
    width: 99%;
    height: 7%;
    display: flex;
    align-items: center;
    background-color: #05c46b;
    color: white;
    border: 2px solid white;
    border-radius: 20px;
}

.div-data-1 {
    width: 90%;
    height: 7%;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.div-data-1-0 {
    height: 30px;
    width: 200px;
    background-color: transparent;
    border: none;
    margin-top: -4px;
    outline: none;
}

.loan-form-3-bottom-6 {
    width: 90%;
    height: 45%;
    justify-content: center;
    display: flex;
}

.div-data {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.main-form {
    width: 100%;
    height: 100%;
}

.loanMax {
    height: 30px;
    width: 200px;
    background-color: transparent;
    border: none;
    margin-top: -8px;
    outline: none;
}
/*end loan css -------------------------------------------------------------------------------------------------------*/

