<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>සීට්ටු Application</title>
</head>
<body>

<h1> Debit </h1>

<form method="post">
    <label>
        <input name="user_id" placeholder="user id"/>
    </label>
    <label>
        <input name="user_amount" placeholder="user amount"/>
    </label>
    <h4>added users and amount</h4>

    <h4>ID 1 : {{ user_id }}</h4>
    <h4>Amount 1 : {{ user_amount }}</h4>
    <h4>ID 2 : {{ user_id_2 }}</h4>
    <h4>Amount 2 : {{ user_amount_2 }}</h4>
    <h3>Total Amount : {{ total_amount }}</h3>
    <h3>Max Amount : {{ max_amount }}</h3>
    <h3>I want lorn amount : {{ i_want_lorn_amount }}</h3>
    <h3>New User 1 Amount : {{ new_user_1_amount }}</h3>
    <h3>New User 2 Amount : {{ new_user_2_amount }}</h3>
</form>
</body>
</html>