<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>සීට්ටු Application</title>
    <link rel="stylesheet" href="../static/css/main.css">
</head>
<body class="welcome-body display-center">

<h1>
    Welcome to සීට්ටු Application...!
</h1>

<div class="content-div display-center">

    <a href="http://127.0.0.1:5000/save" class="wc-button display-center">
        <button class="wc-btn color-1">
            Add Users
        </button>
    </a>

    <a href="http://127.0.0.1:5000/debit" class="wc-button display-center">
        <button class="wc-btn color-2">
            Add Debit
        </button>
    </a>

    <a href="http://127.0.0.1:5000/loan" class="wc-button display-center">
        <button class="wc-btn color-3">
            Loan Request
        </button>
    </a>
</div>

</body>
</html>