<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>සීට්ටු Application - Loan Page</title>

    <!--insert css files ---------------------------------------------------------------------------------------------->
    <link rel="stylesheet" href="../static/css/main.css">
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

</head>
<body class="overflow-hidden">

<div class="header-div">
    <h1 class="header text-center text-white font">
        සීට්ටු&nbsp Application - Loan Page
    </h1>
</div>

<div class="display-center content-area">

    <div class="top-div">
        <form class="loan-form" method="post">
            <div class="text-center">
                <div class="container w-50">
                    <div class="input-group mb-3 text-center">
                        <span class="input-group-text font">Enter user id&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp :</span>
                        <label for="user_id"></label>
                        <input type="text"
                               class="form-control"
                               id="user_id"
                               name="userid"
                               placeholder="C000"
                        >
                    </div>
                    <div class="input-group mb-3 text-center">
                        <span class="input-group-text font">Enter user name : </span>
                        <label for="user_name"></label>
                        <input type="text"
                               class="form-control"
                               id="user_name"
                               name="username"
                               placeholder="Name"
                        >
                    </div>
                    <div class="input-group mb-3 text-center">
                        <span class="input-group-text font">Enter amount&nbsp&nbsp&nbsp&nbsp&nbsp : </span>
                        <label for="user_amount"></label>
                        <input type="number"
                               class="form-control"
                               id="user_amount"
                               name="useramount"
                               placeholder="0000.00"
                        >
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="top-div">
        <form class="loan-form" method="post">
            <div class="text-center">
                <div class="container w-50">
                    <div class="input-group mb-3 text-center">
                        <span class="input-group-text font">Enter user id&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp :</span>
                        <label for="user_id"></label>
                        <input type="text"
                               class="form-control"
                               id="user_id_2"
                               name="userid"
                               placeholder="C000"
                        >
                    </div>
                    <div class="input-group mb-3 text-center">
                        <span class="input-group-text font">Enter user name : </span>
                        <label for="user_name"></label>
                        <input type="text"
                               class="form-control"
                               id="user_name_2"
                               name="username"
                               placeholder="Name"
                        >
                    </div>
                    <div class="input-group mb-3 text-center">
                        <span class="input-group-text font">Enter amount&nbsp&nbsp&nbsp&nbsp&nbsp : </span>
                        <label for="user_amount"></label>
                        <input type="number"
                               class="form-control"
                               id="user_amount_2"
                               name="useramount"
                               placeholder="0000.00"
                        >
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


<script src="../static/js/main.js"></script>
</body>
</html>