<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register Page</title>

    <link rel="stylesheet" href="../static/css/main.css">
</head>
<body>

<div class="container">

    <form class="form" method="post">
        <label>
            <input class="input" name="c_Id" placeholder="enter customer id">
        </label>
        <br>
        <label>
            <input class="input" name="name" placeholder="enter customer name">
        </label>
        <br>
        <label>
            <input class="input" name="amount" placeholder="enter you deposit amount">
        </label>
        <br>
        <button class="btn-save"> Save</button>
    </form>

</div>

</body>
</html>